details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .4em .4em 0;
    align-content: center;
}

summary {
    font-weight: bold;
    margin: -0.4em -.2em 0;
    padding: .0em;
    display: revert;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.math-text {
    display: none;
}
